#button{
    background-color:blue;
    color: white;
    border-radius: 50px;
    border: 1px solid blue;
height: 6vh;
width: 140px;

}

.row-11{
    background-color: blue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row-22{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 70vh;
    width: 30%;
}